<div class="container mt-5 homepage">
    <div class="text-center mw_500 m-auto">
        <h1 class="text_white">Voting Dashboard</h1>
        <p class="text_white fs_30 font-bold pt-2">Balance: 100 GECS</p>
    </div>
    <div class="button_wrap">
        <button class="btn_custom" routerLink="/values-ranking">Values Ranking</button>
        <button class="btn_custom" routerLink="/voting">Vote on Live</button>
        <button class="btn_custom" routerLink="/create-proposal">Create a Proposal</button>
        <button class="btn_custom" routerLink="/">Successful Proposals</button>
        <button class="btn_custom" routerLink="/rewards">Rewards</button>
        <button class="btn_custom" routerLink="/forum">Forum</button>
    </div>
</div>