<div class="container my-5">
    <div class="text-center pb-4">
        <h1 class="text_white">Add a 4th “liquidity contributor” Factor to the weighting algorithm</h1>
    </div>

    <div class="row mt-5">
        <div class="col-lg-5">
            <h2 class="text-center mb-3">Voting</h2>
            <table class="font-bold">
                <tr>
                    <td>Total Votes:</td>
                    <td>12345</td>
                </tr>
                <tr>
                    <td>Votes for:</td>
                    <td>12345</td>
                </tr>
                <tr>
                    <td>Votes against:</td>
                    <td>12345</td>
                </tr>
                <tr>
                    <td>Weighted Votes for:</td>
                    <td>12345</td>
                </tr>
                <tr>
                    <td>Weighted Votes:</td>
                    <td>12345</td>
                </tr>
                <tr>
                    <td>Against:</td>
                    <td>12345</td>
                </tr>
                <tr>
                    <td>Average vote weight:</td>
                    <td>12345</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5 mt-5 mt-lg-0">
            <h2 class="text-center mb-3">Values Results</h2>
            <table class="font-bold">
                <tr>
                    <td>Prosperity:</td>
                    <td>Increase</td>
                </tr>
                <tr>
                    <td>Sustainability:</td>
                    <td>Strongly Increase</td>
                </tr>
                <tr>
                    <td>Innovation:</td>
                    <td>Strongly Increase</td>
                </tr>
                <tr>
                    <td>Community:</td>
                    <td>Decrease</td>
                </tr>
                <tr>
                    <td>Decentralisation:</td>
                    <td>Strongly Increase</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="text-center mt-5 pt-0 pt-lg-5">
        <button class="btn_custom mx-5 mb-4 mb-">Back</button>
        <button class="btn_custom mx-5">View full results</button>
    </div>

</div>