<div class="container mt-5">
    <div class="text-center mx-5">
        <h1 class="text_white">Values Ranking</h1>
        <p class="text_white fs_25 font-bold pt-2">
            These are values most important to the GECS community. They are used to evaluate proposals and can change
            regularly depending on the communities current value priorities</p>
        <table class="value_ranking_table">
            <tr>
                <th>Rank</th>
                <th>Value</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Prosperity</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Prosperity</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Prosperity</td>
                <td>1234</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Prosperity</td>
                <td>1234</td>
            </tr>
        </table>
    </div>


</div>