<div class="container my-5">
    <div class="text-center">
        <h1 class="text_white">Proposal History</h1>
    </div>
    <table class="mt-5 text-center">
        <tr>
            <th>Propsal&nbsp;#</th>
            <th>Outcome</th>
            <th class="text-left">Proposal Title</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Rejected</td>
            <td class="text-left">Add a 4th “liquidity contributor” Factor to the weighting algorithm</td>
            <td>
                <button class="btn_custom small m-0">View</button>
            </td>
        </tr>
    </table>
</div>