<div class="container my-5">
    <div class="text-center">
        <h1 class="text_white">Add a 4th “liquidity contributor” Factor to the weighting algorithm</h1>
        <p class="fs_30 mt-3 font-bold">Expires 3/9/2020 @ 11:23 UTC</p>
    </div>
    <div class="m-5 fs_25 font-bold">
        <p class="mb-4">Proposed Action</p>
        <p>
            Reduce the weight of “Wealth, Understanding and Activity” to 25% and add an additional factor which
            favourably weights users who provide liquidity on uniswap for 25% weighting
        </p>
        <p class="mt-4 mb-3">Context</p>
        <p>
            In order to provide more stability and growth to GECS, I believe that we should add more weight to those that support the ecosystem financially. Alongside the revised 25% for the wealth factor, liquidity would make the weighting 50% dependant on financials and would give a much better balance to the ecosystem. The proposed formula for this category would be:
        </p>
        <div class="text-center mt-5">
            <button class="btn_custom">Vote</button>
        </div>

    </div>
</div>