<div class="container my-5">
    <div class="text-center mx-5">
        <h1 class="text_white">Voting</h1>
        <p class="fs_25 mt-4">Do you want to approve or reject this proposal?</p>
        <button class="btn_custom small">Yes</button>
        <button class="btn_custom small">No</button>
    </div>
    <form class="mt-5">
        <div class="mt-3">
            <p class="fs_25 mb-0">How much do you think this proposal will impact prosperity within the ecosystem?</p>
            <div class="radio_group">
                <input type="radio" name="r1">
                <label>Strongly Reduce</label>
                <input type="radio" name="r1"><label> Reduce</label>
                <input type="radio" name="r1"><label>Increase</label>
                <input type="radio" name="r1"><label>Strongly Increase</label>
            </div>
        </div>
        <div class="mt-3">
            <p class="fs_25 mb-0">How much do you think this proposal will impact prosperity within the ecosystem?</p>
            <div class="radio_group">
                <input type="radio" name="r1">
                <label>Strongly Reduce</label>
                <input type="radio" name="r1"><label> Reduce</label>
                <input type="radio" name="r1"><label>Increase</label>
                <input type="radio" name="r1"><label>Strongly Increase</label>
            </div>
        </div>
        <div class="mt-3">
            <p class="fs_25 mb-0">How much do you think this proposal will impact prosperity within the ecosystem?</p>
            <div class="radio_group">
                <input type="radio" name="r1">
                <label>Strongly Reduce</label>
                <input type="radio" name="r1"><label> Reduce</label>
                <input type="radio" name="r1"><label>Increase</label>
                <input type="radio" name="r1"><label>Strongly Increase</label>
            </div>
        </div>
    </form>
</div>