<div class="container my-5">
    <div class="text-center">
        <h1 class="text_white">Rewards</h1>
        <p class="fs_30 font-bold mb-0">Wallet Balance: 100 GECS</p>
        <p class="fs_30 font-bold">Amount available to claim: 234.4 GECS</p>
    </div>
    <div class="text-center mt-5">
        <button class="btn_custom" routerLink="/voting-dashboard small">Claim</button>
    </div>
    <div class="mt-5 mw_1000">
        <table class="mt-5 text-center">
            <tr>
                <th>Date</th>
                <th>TXID</th>
                <th>Amount Withdraw</th>
            </tr>
            <tr>
                <td>4/9/2020 11:23</td>
                <td>0x3f2u4gf….</td>
                <td>96.7 GECS</td>
            </tr>
        </table>
    </div>
</div>