<div class="container mt-5">
    <div class="text-center mx-5">
        <h1 class="text_white">Whats most important to you for the GECS ecosystem?</h1>
        <p class="text_white fs_25 font-bold pt-2">
            Rank these values in order of priority. The most important<br> values are used to evaluate proposals (you’ll
            see soon)
        </p>
    </div>
    <div class="row proposals_wrapper">
        <div class="mx-5 d-flex flex-wrap">
            <div class="col-lg-4">
                <div class="proposals">
                    <p>Prosperity</p>
                    <span>Creating value for all parties involved</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="proposals">
                    <div class="rank">1</div>
                    <p>Sustainability</p>
                    <span>Creating value that has longevity for all parties involved</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="proposals">
                    <div class="rank">2</div>
                    <p>Decentralisation</p>
                    <span>Ensuring that our systems are as robust and transparent as possible</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="proposals">
                    <p>Adoption</p>
                    <span>Delivering more value than external forces</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="proposals">
                    <p>Liberty</p>
                    <span>Providing people with opportunities and the ability to make choices</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="proposals">
                    <p>Innovation</p>
                    <span>Coming up unique and novel concepts and pioneering their development</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="proposals">
                    <p>Inclusivity</p>
                    <span>creating opportunities that are irrespective of wealth, background, race, gender or
                        religion</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="proposals">
                    <p>Community</p>
                    <span>Supporting the wider ecosystem and other projects and development processes</span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="proposals">
                    <p>Evolution</p>
                    <span>Progressing humanity and improving and/or removing outdated/inefficient structures and
                        concepts</span>
                </div>
            </div>
        </div>
    </div>
</div>