<div class="container mt-5 homepage">
  <div class="text-center mw_500 m-auto">
    <img class="logo" src="../../assets/images/logo.png" alt="">
    <h1 class="text_white mb-4">Vote for the future. Earn GECS.</h1>
    <p class="text_white fs_22">In the GECS genesis phase, we are building a profitable and sustainable defi
        ecosystem.
        Earn
        GECS
        with our Incentivised voting</p>
  </div>
  <div class="button_wrap">
    <a routerLink="/documentation"><button class="btn_custom" (click)="ShowHeader()">Documentation</button></a>
    <a routerLink="/wallet"><button class="btn_custom" (click)="ShowHeader();walletConnectInit()">Votes on GECS</button></a>
    <a routerLink=""><button class="btn_custom" (click)="ShowHeader()">Buy GECS on</button></a>
    <a routerLink=""><button class="btn_custom" (click)="ShowHeader()">View on Etherscan</button></a>
  </div>
</div>