<div class="container mt-5 homepage">
    <div class="text-center mw_500 m-auto">
        <img class="logo" src="../../assets/images/logo.png" alt="">
        <h1 class="text_white mb-4">Vote for the future. Earn GECS.</h1>
        <p class="text_white fs_22">In the GECS genesis phase, we are building a profitable and sustainable defi ecosystem.
            Earn
            GECS
            with our Incentivised voting</p>
    </div>
    <div class="button_wrap">
        <button class="btn_custom">Documentation</button>
        <button class="btn_custom">Votes on GECS</button>
        <button class="btn_custom">Buy GECS on</button>
        <button class="btn_custom">View on Etherscan</button>
    </div>
</div>