<div class="container my-5">
    <div class="text-center mt-5 mw_1000">
        <h1 class="text_white">Create a Proposal</h1>
        <p class="fs_30 font-bold mt-4">Creating a proposal costs 10 GECS, if your proposal is successful, you will receive 20
            GECS. If it is rejected, you will lose 10 GECS</p>
        <form class="mt-5">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Proposed Action (make sure to state explicitly what the change you are proposing is)</label>
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>Context (explain your reasoning for this change and why it would be beneficial)</label>
                <textarea type="text" class="form-control"></textarea>
            </div>
            <div class="text-center mt-5">
                <button class="btn_custom" routerLink="/submitted">Submit</button>
            </div>
        </form>
    </div>
</div>