<div class="container my-5">
    <div class="text-center">
        <h1 class="text_white">Proposals</h1>
    </div>
    <table class="mt-5 text-center">
        <tr>
            <th>Propsal&nbsp;#</th>
            <th>Time&nbsp;Left</th>
            <th class="text-left">Proposal</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>22hrs</td>
            <td class="text-left">Add a 4th “liquidity contributor” Factor to the weighting algorithm</td>
            <td>
                <button class="btn_custom small m-0" routerLink="/proposal-view">View</button>
            </td>
        </tr>
    </table>
</div>